<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Header
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-split-pane contentId="home">
    <!-- Our Side Menu -->
    <ion-menu contentId="home">
      <ion-content>
        <ion-list>
          <ion-item routerLink="/home/profiles">
            <ion-icon name="add-circle-sharp" slot="start"></ion-icon>
            <ion-label>Profiles</ion-label>
          </ion-item>

          <ion-item routerLink="/home/friends">
            <ion-icon name="arrow-forward-sharp" slot="start"></ion-icon>
            <ion-label>Friend</ion-label>
          </ion-item>

          <ion-item routerLink="/home/about">
            <ion-icon name="arrow-back-sharp" slot="start"></ion-icon>
            <ion-label>About</ion-label>
          </ion-item>
          
        </ion-list>
      </ion-content>
    </ion-menu>

    <!-- The main content -->
  
    <ion-router-outlet id="home"></ion-router-outlet>
  </ion-split-pane>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Footer
    </ion-title>
  </ion-toolbar>
</ion-footer>
